.navbar-container
{
    box-shadow: 0px 4px 7px -1px #707070;
    height: 85px;
    padding:0px 35px;
    font-size:19px;
    background: #fff;
    color: #F7A79E;
    width: 100%;
}
.nav-logo
{
    height: 70px;
    width: 116px;
}
.navbar-link
{
    color: #F7A79E !important;
}
.navbar-link:hover
{
    color: #F7A79E;
    opacity: 0.85;
}
.nav-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav
{
    background-color: white;
    width: 100%;
    justify-content: end;
}
.nav-cart
{
    color: darkgray;
}

@media screen and (max-width: 768px)
{
    .navbar-container
    {
        height: 70px;
        padding:0px 0px;
        font-size:14px;
    }
    .nav-logo
    {
        height: 50px;
        width: 90px;
    }
    .navbar-nav
    {
        background-color: white;
        width: 100%;
        justify-content: start;
    }
    .navbar-collapse .collapse .show
    {
        display: flex;
    }
}